<%- include("header") %>
<form class="" action="/compose" method="post">
  <div class="form-group">
  <label for="">Title</label>
<input class="form-control" type="text" name="n1" value="">
<label for="">Content</label>
<textarea class="form-control" name="postbody" rows="5" cols="30"></textarea>
<button type="submit" name="button">button</button>
<%- include("footer") %>
