<%- include("header") %>
<h1><%=topic%></h1>
<p><%=content%></p>
<%- include("footer") %>
<form class="" action="/editing" method="post">
<input class="form-control" type="text" name="n2" value="">
<button type="submit" name="button">Submit</button>
</form>
